.albumTopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading {
  width: 140px;
  height: 32px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.toggleButton {
  width: auto;
  height: 30px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #34c94b;
  cursor: pointer;
  background: none;
  border: none;
}
