.navbar {
  background-color: #34c94b;
  height: 70px;
  margin: 0.2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  border-radius: 0.6vw;
}
@media only screen and (width: 900px) {
  .navbar {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
}
