.navbar {
  background-color: #34c94b;
  width: "fullwidth";
  height: 8vh;
  margin-top: 2vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;
  overflow: auto;
}
